body, html {
    height:100%;
    margin:0;
}
.title, h1 {
    font-family: $name-font;
}
.bg-image {
    background-image: url('../img/patron-fondo.jpg');
    background-repeat: repeat;
    background-size: cover;
}